<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://solsa20.caafufvdj2xl.us-west-2.rds.amazonaws.com/solsa2020</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>solsa2020</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>solsa2020</param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEmpleado</servlet-name>
        <servlet-class>Aprobador.AltaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuperAdmin_AddUser</servlet-name>
        <servlet-class>SuperAdmin.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEmpleado</servlet-name>
        <url-pattern>/AltaEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuperAdmin_AddUser</servlet-name>
        <url-pattern>/SuperAdmin/AddUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
